 <!-- Footer -->
<section id="footer">
  <footer>
    <div>
      <div class="row">
        <div class="col">
          <ul>
            <li>
              <a href="{% url 'advertisers'%}">Advertisers</a>
            </li>
    
            <li>
              <a href="{% url 'contact'%}">Contact</a>
            </li>
            <li>
              <a href="{% url 'links'%}">Links</a>
            </li>
            <li>
              <a href="{% url 'news'%}">Site News</a>
            </li>
        </ul> 
          
        </div>

        <div class="col">
          <ul>
            <li>
              <a href="{% url 'membership'%}">Pricing</a>
            </li>
            <li>
              <a href="{% url 'privacy'%}">Privacy Policy</a>
            </li>
            <li>
              <a href="{% url 'terms'%}">Terms of Use</a>
            </li>
          </ul>

        </div>

        <div class="col">
          Copyright &copy;
          <span class="year"></span> MyInventoryAds.com
          All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
</section>