{% extends 'base.html' %}

{% block content%}
<section>
    <div>
        <h1>About Us</h1>
    </div>
    <div>
        <p>
            MyInventoryAds.com has been a goal of our owner Bill since 2003. Since then he has been laying the groundwork for an affordable web based solution for businesses and individuals to advertise their industrial and automotive parts. With over 33 years of experience in the industrial hose, fittings, and filtration industry, Bill understands that trends change and businesses end up with obsolete/excess inventories despite best efforts. MyInventoryAds.com wants to help you monetize that inventory with our unique web based platform. Thank you for your time and we look forward to helping you be more successful.
        </p>
    </div>
    <div>
        <h3>
            Phone
        </h3>
        <p>(503)555-1234</p>
    </div>
    <div>
        <h3>Mailing and Street Address</h3>
        <p> MyInventoryAds LLC <br>
            5555 SW Market Place <br>
            Gresham, Oregon 97080 </p>

    </div>

</section>

{% endblock %}