{% extends 'base.html' %}

{% block content%}
<h1>Frequently Asked Questions</h1>
<section>
    <div>
        <h4 class="faq-title"> Reasons To List Your Parts And Search For Your Parts On MyInventoryAds.com
        </h4>
        <p> <strong>Why should I list and search for my parts with you?</strong> <br>
            Search is free. Some websites require you to register or even pay to view parts for sale, we do not.
        </p>
        <p><strong>Can any industrial/automotive parts business list parts for sale on MyInventoryAds.com? </strong><br>We don't require you to be an authorized distributor to list parts for sale. </p>
        
        <h4 class="faq-title"> Registration</h4>
        <p><strong>Do I have to register to use the site?</strong><br>No. You can browse and search ads without registering. You should still register, to save time, as the site will remember various preferences for you. If you want to create ads, you will need to register. <strong>Registration is FREE.</strong> </p>

        <h4 class="faq-title"> Creating & Managing Listings</h4>
        <p><strong>Do I Have to Register to Create Listings?</strong><br>Yes. You must be a registered user to create listings. Registration is free.</p>
        <p><strong>What Category Should I Put My listing In?</strong> <br> Choose the category that best fits. If a category isn't listed please let us know and we will add it for you.</p>
        
        <h4 class="faq-title"> Pricing & Payment</h4>
        <p><strong>How much do listings cost?</strong><br>Please see our Pricing page for information about listing plans.</p>
        <p><strong>How Long Does a Listing Run?</strong>Please see our Pricing page for information about listing plans.<br></p>
        <p><strong>Who Do I Make My Check Out to?</strong><br>Make it payable to MyInventoryAds LLC.</p>

        <h4 class="faq-title"> Privacy</h4>
        <p><strong>What is your privacy policy?</strong><br>See Privacy Policy for details.</p>
    </div>
</section>
{% endblock %}