html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* TOP BAR */
#logo{
    padding-left: 2%;
    width: 100%;
    overflow: visible;
}
#topbar {
    top: auto;
    background-color: black;
}
#top_bar_div {

    padding-left: 70%;
    max-width: 100%;
}
.top_bar_login_li li {
    display: inline;
    float: left;
}
.top_bar_login {
    color: white;
    display: block;
    padding: 10px;
    margin-right: 5px;
    background-color: rgb(182, 0, 0);
    
}
.top_bar_login:hover {
    color: rgb(206, 205, 205);
}


/* Footer */

#footer {
    background-color: rgb(243, 243, 243);
    color: black;
    text-align: center;
  }

#footer a {
    color: black;
}

/* Body */



#section_body {
    overflow: auto;
    background-color: white;
}

/* Listing Search*/

.listing_img_search {
    max-width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#search-box{
    margin-top: 2%;
    background: url("../img/background_1_75.a34418ca0564.jpg") no-repeat center fixed;
    
}

#below-search {
    padding-bottom: 5%;
    text-align: center;
}

#coupon {
    text-align: center;
    color: red;
}

#register-form{
    border: 3px solid black;
    padding: 5%;
    margin: 5%;
}

#login-form{
    border: 3px solid black;
    padding: 5%;
    margin: 5%;
}

#search-container {
    margin: 2%;
    
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-title {
    text-align: center;
}
.jumbotron{
    background: none;
    color: black;
    position: relative;


    

}

#button-div {
    margin-top: 1%;
}

#jumbo-text{
    font-size: 40px;
    text-align: center;
    padding-bottom: 15%;

}

.categories-button {
    text-align: left;
    padding: .5%;
}
.cat-button {
    white-space: normal;
}

.faq-title {
    background-color: rgb(90, 90, 90);
    color: white;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 1%;
}

.text-main{
    color: black;
}

.dash-add-listing {
    border: 3px solid black;
    padding: 5%;
    margin: 5%;
}

.img-main {
    max-width: 20%;
}
/*
    DEBUGGER
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }*/
