{% extends 'base.html' %}

{% block content%}
{% include 'partials/_alerts.html'%}
<h1 style="text-align: center; color: red">DEMO ONLY DONT SUBMIT REAL CARD INFO</h1>

<section >
<div class="container py-5">
    
  
  
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div id="login-form" class="bg-white rounded-lg p-5 ">
            <h2>VIP Membership</h1>
                <h3 style="color: red;">$29.99/Month</h3>
  
  
          <!-- Credit card form content -->
          <div class="tab-content">
  
            <!-- credit card info-->
            <div id="nav-tab-card" class="tab-pane fade show active">
              <form action="" method="POST"role="form">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">Full name (on the card)</label>
                  <input type="text" name="username" placeholder="John Doe" required class="form-control">
                </div>
                <div class="form-group">
                  <label for="cardNumber">Card number</label>
                  <div class="input-group">
                    <input type="text" name="cardNumber" placeholder="Your card number" class="form-control" required>
                    <div class="input-group-append">
                      <span class="input-group-text text-muted">
                                                  <i class="fa fa-cc-visa mx-1"></i>
                                                  <i class="fa fa-cc-amex mx-1"></i>
                                                  <i class="fa fa-cc-mastercard mx-1"></i>
                                              </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label><span class="hidden-xs">Expiration</span></label>
                      <div class="input-group">
                        <input type="number" placeholder="MM" name="" class="form-control" required>
                        <input type="number" placeholder="YY" name="" class="form-control" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group mb-4">
                      <label data-toggle="tooltip" title="Three-digits code on the back of your card">CVV
                                                  <i class="fa fa-question-circle"></i>
                                              </label>
                      <input type="text" required class="form-control">
                    </div>
                  </div>
  
  
  
                </div>
                <button type="submit" class="subscribe btn btn-dark btn-block rounded-pill shadow-sm"> Confirm  </button>
              </form>
            </div>
            <!-- End -->
  
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}